<div><p3><%=@stores.count%> Total Stores Returned For Your Search</p3><br>
<p4>Results Below:</p4><br>
  <%@stores.each do |store|%>
    <%=store.name%>
    <%=store.city%>
    <%=store.distance%>
    <%=store.phone%>
    <%=store.type%> </br>
  <%end%>
</div>